body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

.calculator {
  width: 300px;
  margin: 0 auto;
  background-color: #000;
  border-radius: 5px;
  padding-bottom: 20px;
}

.calculator input {
  width: 280px;
  font-size: 60px;
  margin: 40px 0;
}

input[type="text"] {
  text-align: right;
}

.calculator button {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.calculator button.operator {
  background-color: #fd9526;
  color: #fff;
}

.calculator button.clear {
  background-color: gray;
  color: #fff;
}